

body {
 font-family:sans-serif;
 margin:0px 1px 1px 1px;  
}

h1, h2, h3, h4, h5, h6 {
    font-family:sans-serif;
}


.text-center {
    text-align:center;
}

h2 {
    line-height:50px;
    color:#E91C1C;
}
h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {
 padding-top: 25px;
line-height: 40px;
font-size: 30px;
font-weight: 900;
text-align:center;
font-family:Comic Sans MS;

}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
}

.space-free {
    height:100px;
}

section {
    padding-top:50px;
    margin-top:50px;
}
.g-pad-bottom {
    padding-bottom:30px;
}

.form-control {
        background-color: rgba(255, 255, 255, 0);
}

.label-danger {
font-size: 18px;
}


#home-sec { 
  
    
background: url(../img/1.jpg) no-repeat 50% 50%;
background-attachment: fixed;
background-size: cover;
width: 100%;
display: block;
height: auto;
padding-top:190px;
min-height:650px;
color:#fff;
}

.head-main {
    margin-top:30px;
    font-size:50px ;
    font-weight:900;
    padding:15px 20px 20px 20px;
    text-transform:none;
    font-family:Comic Sans MS;
	color:#fff;
}
.head-last {
    font-size:30px ;
    font-weight:900;
    padding:5px 20px 20px 20px;
	font-family:Comic Sans MS;
	color:#7a5fe8;
}


	
.navbar {
	font-size: 18px;
}
.logo {
	font-size: 25px;
	margin-left:5px;
	color:#70dae0;
	font-family:Comic Sans MS;
	}
	
.navbar-inverse {
background: #fff;
min-height: 55px;
padding-top: 5px;
overflow:hidden;
}





#footer {
background-color: #FFFFFF;
color: #000;
padding: 20px 50px 20px 50px;
text-align: right;
border-top: 1px solid #d6d6d6;
}

.box1 {
position: relative;
background-color:#b2cecf;
height:475px;
}        

.box4 {
background: url(../img/prague.jpg);
color:#fff;
width:100%;
height:300px;

}
.box5 {
background: url(../img/moscow.jpg);
color:#fff;
width:100%;
height:300px;
}
.box6 {
background: url(../img/paris.jpg);
color:#fff;
width:100%;
height:300px;
}

.menu {
height: 25px;
float: left;
margin-left: 350px;   
 position: relative;
  display: block;
  height: 3em;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border-radius: .5em;
}
menu::-ms-expand {
  display: none;
}

.menu:hover::after {
  color: #f39c12;
}
.menu::after {
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}
.menu1 {
height: 25px;
float: left; 
margin-left: 50px;
position: relative;
display: block;
height: 3em;
line-height: 3;
background: #fff;
overflow: hidden;
border-radius: .5em;
}
menu1::-ms-expand {
  display: none;
}

.menu1:hover::after {
  color: #f39c12;
}
.menu1::after {
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}
.menu2 {
height: 25px;
float: left;
margin-left: 180px;   
 position: absolute;
  display: block;
  height: 3em;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border-radius: .5em;
}
menu2::-ms-expand {
  display: none;
}

.menu2:hover::after {
  color: #f39c12;
}
.menu2::after {
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}


.submit {
margin-top:87px;
float:right;
margin-right: 530px;
background: tomato;
color: white;
border-style: outset;
height: 50px;
width: 100px;
font: bold 15px arial, sans-serif;
text-shadow:none;
border-radius: 5px;
}

#k2 {
margin-top:87px;
float:right;
margin-right: 530px;
background:tomato;
color: white;
border-style: outset;
height: 50px;
width: 100px;
font: bold 15px arial, sans-serif;
text-shadow:none;
border-radius: 5px;
}

#dva{
position:absolute;
height: 21px;	
right: 94px;
top:210px;
}
#osoba{
height: 25px;
float: left;	
margin-left: 10px;
margin-top:0px;
}
#tri{
position:absolute;
height: 25px;	
right: 243px;
top:210px;
}
#cetiri{
height: 25px;
float: left;	
margin-left: 220px;
margin-top:2px;		
}
.leftbox{
    float:left;
    margin-left: 10px;
}    
    #Povratak{
      margin-top: 50px;  
      margin-left: 26px;
    }   

#group{
        margin-left: 230px;
    }
#adminform{
    position:relative;
    padding-bottom: 50px;
  padding-left:300px;
  position: relative;
background-color:#b2cecf;
height:400px;
text-align:left;
margin-top: 0px;
float:top;

    }    
 